@charset "UTF-8";
/* CSS Document */

/*===============================================
●style.css 画面の横幅が779px以上
===============================================*/

.video{
    display: none;
}

.shop_logo{
    display: none;
}

.scroll{
    display: none;
}

@media screen and (min-width: 768px){
img {
	max-width: 100%;
	height: auto;
	width /***/:auto;
	border: none;　
}
#container{
	width:100%;
}

#top-background{
    position: relative;
}

.profile-top img{
    width: 100%;
}

.profile-logo img{
    position: absolute;
    top: 34%;
    right: 12%;
    width: 40%;
}

#main{
	max-width: 1000px;
	margin: auto;
	margin-bottom: 4em;
}

#wrapper{
	width: 100%;
}
html {
    overflow: scroll;
}

body {
	width:100%;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: center;
	color:#605B4C;
	line-height:1.4em;
	font-size:0.95em;
	font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.catchcopy{
	width: 100%;
	height: auto;
}

.scroll a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.scroll a:visited {
	color: #FFFFFF;
}
.scroll a:hover {
	color: #AAAAAA;
}
.scroll a:active {
	color: #FFFFFF;
}

.clear {
    clear:both;
}

p {
	letter-spacing: 0.2em;
}
.naiyou a:link {
	color: #605B4C;
	text-decoration: none;
}

.naiyou a:visited {
	color: #605B4C;
}

.naiyou a:hover {
	color: #AAAAAA;
}

.naiyou a:active {
	color: #FFFFFF;
}

/**スクロール スタート**/

.arrow-down{
  width:60px;
  height:40px;
  margin:0 0 0 -30px;
  position:absolute;
  left:50%;
  bottom:0px;
  -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
  
}

.arrow-down:hover{
   -webkit-animation-play-state: paused;
}

.left{
  position:absolute;
  height:3px;
  width:27px;
  background:#f9f9f9;
  -webkit-transform:rotate(240deg);
  top:10px;
  left:6px;
  -webkit-border-radius:4px;
  -webkit-transform-origin:5px 50%;
  -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right{
  position:absolute;
  height:3px;
  width:27px;
  background:#f9f9f9;
  -webkit-transform:rotate(-60deg);
  top:10px;
  left:11px;
  -webkit-border-radius:4px;
  -webkit-transform-origin:5px 50%;
  -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}

@-webkit-keyframes arrow{
  0% {
    bottom:0px;
  }
  100%{
    bottom:40px;
  }
}


@-webkit-keyframes leftArrow{
  0% {
  }
  100%{
    -webkit-transform:rotate(225deg);
  }
}

@-webkit-keyframes rightArrow{
  0% {
  }
  100%{
    -webkit-transform:rotate(-45deg);
  }
}

/*****スクロール エンド******/

/*===============================================
ヘッダー START
===============================================*/

button{
  display: none;
}

#header {
    text-align: center;
    margin: 0;
    padding: 0;
    width:100%;
    height: 101px;
    position: relative;
    top: 0;
    left: 0;
}

.header_block{
  position: absolute;
  top:0%;
  left:0%;
  width:100%;
  overflow: hidden;
  background-color: rgba(98, 98, 98, 0.5);
	z-index: 100000;

}
.video{
  width:100%;
  height: auto;
  margin: 0;
}

.video video{
  margin: 0;
  width:100%;
}


.logo{
  float: left;
  width:20%;
  height: auto;
  position: absolute;
  top:22%;
  left:1%;
  z-index: 100000;
}

.logo img{
  width:100%;
  height: auto;
  z-index: 100000;
}

.navi_01{
  float: right;
  width:85%;
  z-index: 100000;
}

.navi_01 li{
  width:13%;
  height: auto;
  display: inline-block;
  padding: 0;
}

.shop_logo{
  position: absolute;
  top:40%;
  left:40%;
  width:20%;
}

.shop_logo img{
  width:100%;
}

/*===============================================
ヘッダー END
===============================================*/




/*===============================================
メイン S
===============================================*/

main {
	margin: 0 auto;
	padding: 0;
}

h1 {
	text-align: center;
	margin:2em 0 1em 0;
	font-size: 1.5em;
	line-height: 2em;
	letter-spacing: 0.1em;
}

h2 {
	margin: 0;
	font-size: 1.3em;
	letter-spacing: 0.15em;
	position: relative;
	padding: .25em 0 .5em .75em;
	border-left: 6px solid #f6938e;
}
h2::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	height: 0;
	border-bottom: 1px solid #AAAAAA;
}

.line {
	margin: 50px auto;
}

.text {
	margin: 0 auto;
	padding: 0;
	max-width: 750px;
	width: 90%;
	text-align: left;
	clear: both;
}

.text a {
	font-weight: bold;
}
.text h2{
	margin-bottom: 2em;
}

.text-img {
	width: 200px;
	margin: 0 15px 0 0;
	float: left;
}

.h-title{
	padding: 1em;
}

table {
    width:70%;
    margin: -25px auto 40px;
    border-collapse: collapse;
    border-spacing: 0px;
}

tr.ao {
	background-color: #d1edec;
}

th,td {
    padding: 1em;
    letter-spacing: 0.2em;
    border-style:hidden;
}

th {
    vertical-align: middle;
    text-align: left;
    width: 220px;
    overflow: visible;
    position: relative;
    font-weight: normal;
}

td {
    width: 230px;
    text-align: left;
    padding-left: 40px;
}

thead th {
	padding-top: 25px;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}




/*===============================================
メイン E
===============================================*/



/*===============================================
フッター S
===============================================*/

footer {
	margin: 0;
	padding: 0;
	height: 200px;
	background-image: url(../../images/thumb-footer.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

footer h3 {
	margin: 0;
	padding-top: 90px;
}

footer p {
	margin:5px auto  0;
	padding: 0;
}


/*===============================================
フッター E
===============================================*/

/*===============================================
TOPへ戻るボタン S
===============================================*/

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
#page-top a {
    background: rgba(51,51,51,0.3);
    text-decoration: none;
    color: #fff;
    width: 90px;
    padding: 10px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: rgba(51,51,51,0.7);
}

/*===============================================
TOPへ戻るボタン　E
===============================================*/

/*===============================================
浮き出る画像　S
===============================================*/

#animation1 {
margin: 0;
font-size: 40px;
font-weight: bold;
color: #ff0000;
}

#animation2 {
margin 0;
font-size: 40px;
font-weight: bold;
color: #ff0000;
}

#animation3 {
margin: 0;
font-size: 40px;
font-weight: bold;
color: #ff0000;
}

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

/*===============================================
浮き出る画像　E
===============================================*/


/* --- ChromeとOperaのみ */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  nav li {
    font-size: 90%;
  }
}
