@charset "utf-8";
/* CSS Document */

/*===============================================
●smart.css  画面の横幅が780pxまで
===============================================*/
@media screen and (max-width:780px){

img{
	max-width: 100%;
	height: auto;
	width /***/:auto;　
}

h1 {
	text-align: center;
	margin: 0;
	font-size: 1.25em;	
	line-height: 2em;
	letter-spacing: 0;
}

h2 {
	marign: 0;
	text-align: left;
	font-size: 1.15em;
	letter-spacing: 0.07em;
}

h4 {
	text-align: left;
	margin: 0;
	font-size: 1.25em;	
	line-height: 1.4em;
	letter-spacing: 0;
}

p {
	letter-spacing: 0;
	line-height:  1.5em;
}

.catchcopy-box {
	max-width:95%;
}

section {
  width: 75%;
  margin: 5px;
  padding: 10px 20px 15px;
  background: #e9f3d1;
  border-radius: 10px;
  text-align: center;
}

section img {
  width: 70%; 
}

.text {
	width: 90%;
	overflow: hidden;

}

.text-img {
	width: 100%;
	text-align: center;
}

.text-img img {
	width: 200px;
}

table.link-table th,td {
    letter-spacing: 0;
}

table.link-table th {
    width: 45%;
    padding-left: 20px;
    padding-right: 5px;
}

table.link-table td {
    width: 55%;
    text-align: left;
	padding-left: 10px;
    padding-right: 20px;
}

}
/*===============================================
●smart.css  画面の横幅が479pxまで
===============================================*/
@media screen and (max-width:479px){
img{
	max-width: 100%;
	height: auto;
	width /***/:auto;　
}

p {
	letter-spacing: 0;
	line-height:  1.5em;
}

nav li {
	margin: 0;
	font-size: 100%;
	display: inline-block;
	width: auto;
	height: auto;
	text-align: center;
	background-color: #333333;
	line-height: 0;
}

nav li {
	background-image: none;
}
nav li:hover,
nav li a:hover {
	background-image: none;
}

footer {
	margin: 0;
	padding: 0;
	height: 275px;
	max-width: 100%;
	background-image: url(../../images/thumb-footer-sp.jpg);
	background-size: 480px;
}

footer h3 {
	margin: 0;
	padding-top: 90px;
}


.catchcopy {
	margin: 0 auto;
	padding: 0;
	width:80%;
}

h1 {
	font-size: 120%;
	text-align: center;
	letter-spacing: normal;
	line-height: 1.5em;
}


h2 {
	font-size: 110%;
}

h4 {
	font-size: 110%;
}

section {
  width: 300px;
  margin: 5px;
  padding: 10px 20px 15px;
  background: #e9f3d1;
  border-radius: 10px;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

section img {
  width: 90%;
  margin-top: 10px;
  padding: 0;
  order: -1;  
}




table {
	margin: 0 auto;
}

tr.ao {
	background-color:#ffffff;
}

th,td{
	width: 100%;
	padding-right: 0;
	padding-left: 0;
    border: 0;
	display: block;
    letter-spacing: 0;
}

th {
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 2px;
	border-style: hidden;
}

td {
	padding-left: 0;
	padding-top: 2px;
	padding-bottom: 10px;
	text-align: center;
	border-bottom: 1px dotted #cccccc;
}

.h-title {
	border-bottom: 1px dotted #cccccc;
	font-size: 110%;
}

.charge table {
	border: 0;
}

.charge tr {
	border: 0;
}

.charge td {
	margin-bottom: 20px;
	border: 0;
}

.charge td li {
	text-align: left;
}

.text {
	width: 90%;
}

.link-table table {
	width: 90%;
	border-top: 1px solid #AAAAAA;
}

.link-table th,td {
	width: 80%;
	padding-top: 0;
	padding-bottom: 0;
    border-top: 0;
    letter-spacing: 0;
}

.link-table th {
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0;
    width: auto;
    padding-left: auto;
    padding-right: auto;
}

.link-table td {
	padding-bottom: 15px;
	padding-left: 0;
    width: auto;
    text-align: left;
	padding-left: auto;
    padding-right: auto;
    border-bottom: 1px solid #AAAAAA;
}


/*===============================================
TOPへ戻るボタン S
===============================================*/

#page-top {
    position: fixed;
    bottom: 0;
    right: 15px;
    font-size: 60%;
}
#page-top a {
    background: rgba(51,51,51,0.3);
    text-decoration: none;
    color: #fff;
    width: 80px;
    padding: 5px 0;
    text-align: center;
    display: block;
    border-radius: 5px;

    /*===============================================
TOPへ戻るボタン　E
===============================================*/
}