@charset "UTF-8";
/* CSS Document */

/*===============================================
●style.css 画面の横幅が779px以上
===============================================*/

.video{
    display: none;
}

.shop_logo{
    display: none;
}

.scroll{
    display: none;
}

@media screen and (min-width: 768px){
img {
	max-width: 100%;
	height: auto;
	width /***/:auto;
	border: none;　
}
#container{
	width:100%;
}

#top-background{
    position: relative;
}

.info-top img{
    width: 100%;
}

.info-logo img{
    position: absolute;
    top: 48%;
    left: 5%;
    width: 41%;
}

#main{
	max-width: 1000px;
	margin: auto;
}

#wrapper{
	width: 100%;
}
html {
    overflow: scroll;
}

body {
	width:100%;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: center;
	color:#605B4C;
	line-height:1.4em;
	font-size:0.95em;
	font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}


.scroll a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.scroll a:visited {
	color: #FFFFFF;
}
.scroll a:hover {
	color: #AAAAAA;
}
.scroll a:active {
	color: #FFFFFF;
}

.clear {
    clear:both;
}

p {
	letter-spacing: 0.2em;
}
.naiyou a:link {
	color: #605B4C;
	text-decoration: none;
}

.naiyou a:visited {
	color: #605B4C;
}

.naiyou a:hover {
	color: #AAAAAA;
}

.naiyou a:active {
	color: #FFFFFF;
}

/*===============================================
ヘッダー START
===============================================*/


button{
  display: none;
}

#header {
    text-align: center;
    margin: 0;
    padding: 0;
    width:100%;
    height: 110px;
    position: relative;
    top: 0;
    left: 0;
}

.header_block{
  position: absolute;
  top:0%;
  left:0%;
  width:100%;
  overflow: hidden;
  background-color: rgba(98, 98, 98, 0.5);
	z-index: 100000;

}
.video{
  width:100%;
  height: auto;
  margin: 0;
}

.video video{
  margin: 0;
  width:100%;
}


.logo{
  float: left;
  width:20%;
  height: auto;
  position: absolute;
  top:22%;
  left:1%;
  z-index: 100000;
}

.logo img{
  width:100%;
  height: auto;
  z-index: 100000;
}

.navi_01{
  float: right;
  width:85%;
  z-index: 100000;
}

.navi_01 li{
  width:13%;
  height: auto;
  display: inline-block;
  padding: 0;
}

.shop_logo{
  position: absolute;
  top:40%;
  left:40%;
  width:20%;
}

.shop_logo img{
  width:100%;
}

/*スクロール*/
.scroll {
	padding-top: 70px;
  position: absolute;
  top:78%;
  left: 49%;
  color: #fff;
}
.scroll span {
	position: absolute;
	top: 10%;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb 1.5s infinite;
	animation: sdb 1.5s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}


/*===============================================
ヘッダー END
===============================================*/



/*===============================================
メイン S
===============================================*/

main {
	margin: 0 auto;
	padding: 0;
}

h1 {
	text-align: center;
	margin: 0;
	font-size: 1.5em;
	line-height: 2em;
	letter-spacing: 0.1em;
}

h2 {
	marign: 0;
	font-size: 1.3em;
	letter-spacing: 0.15em;
	position: relative;
	padding: .25em 0 .5em .75em;
	border-left: 6px solid #f6938e;
}
h2::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	height: 0;
	border-bottom: 1px solid #AAAAAA;
}

.catchcopy {
	margin: 2em auto;
	padding: 0;
	width:82%;
	text-align: left;
}

.line {
	margin: 50px auto;
}

.wrapper {
	margin: 20px auto;
	padding: 0;
	width:700px;
	max-width: 90%;
}

.wrapper h2 {
	margin: 0;
	text-align: left;
}
.wrapper p {
	text-align: left;
	margin: 3em 0 0 0;
}

.wrapper a {
	font-weight: bold;
}


.wrapper img {
	margin: 20px auto;
	max-width: 50%;
}


table {
    max-width: 520px;
    margin: -25px auto 40px;
    border-collapse: collapse;
    border-spacing: 0px;
}

th,td {
    padding: 7px 20px;
    border: 0;
    letter-spacing: 0.2em;
}

th {
    vertical-align: middle;
    text-align: left;
    width: 220px;
    overflow: visible;
    position: relative;
    font-weight: normal;
}

td {
    width: 230px;
    text-align: left;
    padding-left: 40px;
}

thead th {
	padding-top: 25px;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}




/*===============================================
メイン E
===============================================*/



/*===============================================
フッター S
===============================================*/

footer {
	margin: 0;
	padding: 0;
	height: 200px;
	background-image: url(../../images/thumb-footer.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

footer h3 {
	margin: 0;
	padding-top: 90px;
}

footer p {
	margin:5px auto  0;
	padding: 0;
}


/*===============================================
フッター E
===============================================*/

/*===============================================
TOPへ戻るボタン S
===============================================*/

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
#page-top a {
    background: rgba(51,51,51,0.3);
    text-decoration: none;
    color: #fff;
    width: 90px;
    padding: 10px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: rgba(51,51,51,0.7);
}

/*===============================================
TOPへ戻るボタン　E
===============================================*/

/*===============================================
浮き出る画像　S
===============================================*/

#animation1 {
margin: 0;
font-size: 40px;
font-weight: bold;
color: #ff0000;
}

#animation2 {
margin 0;
font-size: 40px;
font-weight: bold;
color: #ff0000;
}

#animation3 {
margin: 0;
font-size: 40px;
font-weight: bold;
color: #ff0000;
}

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

/*===============================================
浮き出る画像　E
===============================================*/


/* --- ChromeとOperaのみ */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  nav li {
    font-size: 90%;
  }
}
